* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    width: 100%;
    height: 78px;
    background-color: white;
}

.header-container {
    width: 1000px;
    height: 78px;
    margin: 0 auto;
}

.logo {
    width: 153px;
    height: 37px;
    margin-top: 20px;
    float: left;
}

.sousuo {
    width: 298px;
    height: 34px;
    border: 1px solid #ccc;
    margin-top: 22px;
    line-height: 34px;
    float: left;
    margin-left: 30px;
    input {
        margin-left: 20px;
        outline: medium;
        border: none;
    }
}


.sousuotu {
    width: 34px;
    height: 34px;
    float: right;
    text-align: center;
}

.sousuotu:hover {
    color: #169af3;
    cursor: pointer;
}

.kefu {
    width: 402px;
    height: 30px;
    line-height: 30px;
    float: right;
    margin-top: 24px;
    ul {
        width: 260px;
        color: #777;
        float: left;
        border-right: 1px solid #e6e6e6;
        li {
            float: left;
            padding: 0 15px;
            font-size: 13px;
        }
        li:hover {
            color: #169af3;
            cursor: pointer;
        }
    }

    .denglu {
        width: 48px;
        height: 28px;
        border: 1px solid #169af3;
        float: left;
        border-radius: 2px;
        background-color: #169af3;
        text-align: center;
        margin-left: 27px;
        color: #fff;
        font-size: 14px;
    }
    .zhuce {
        width: 48px;
        height: 28px;
        border: #169af3;
        float: left;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        background-color: #fff;
        text-align: center;
        margin-left: 13px;
        font-size: 14px;
        color: #777;
    }
    .denglu:hover {
        background-color: #158FE1;
        cursor: pointer;
    }
    .zhuce:hover {
        color: #169af3;
        border: 1px solid #169af3;
        cursor: pointer;
    }
}

.nav {
    width: 100%;
    height: 55px;
    background-color: #2c323b;
    .nav-container {
        width: 1000px;
        height: 55px;
        margin: 0 auto;
        .shouye {
            position: relative;
            height: 55px;
            line-height: 55px;
            float: left;
            li {
                float: left;
                padding: 0 30px;
                font-size: 16px;
                color: #fff;
                text-align: center;
                cursor: pointer;
            }
            .shouyeli {
                background-color: #169af3;
            }
            li:hover {
                background-color: #169af3;
            }
            .gengduoli:hover .gengduo {
                display: block;
            }
            .gengduo {
                position: absolute;
                left: 324px;
                top: 37px;
                display: none;
                z-index: 999;
                li {
                    clear: both;
                    width: 113px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    font-size: 15px;
                    background-color: #2c323b;
                    color: #bbb;
                    cursor: pointer;
                    margin: 0;
                    padding: 0;
                }
                li:hover {
                    background-color: #2d343d;
                    color: #fff;
                }
            }
        }
        ul:last-child {
            float: right;
            margin-top: 18px;
            li {
                float: left;
                font-size: 13px;
                color: #bbb;
                margin-left: 30px;
            }
            li:hover {
                color: #169af3;
                cursor: pointer;
            }
        }
    }
}

.lunbo {
    width: 100%;
    height: 445px;
    position: relative;
    overflow: hidden;
    ul {
        cursor: pointer;
    }
    img {
        width: 100%;
    }

    ul li {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }

    ul li:first-child {
        display: block;
    }
    ol {
        position: absolute;
        top: 365px;
        left: 855px;
    }
    ol li {
        float: left;

        width: 7px;
        height: 7px;
        margin: 0 7px;

        font-size: 0;
        background-color: #a4bdca;
        border-radius: 50%;
    }
    .active {
        width: 10px;
        height: 10px;
        background-color: #fff;
    }
    .left {
        position: absolute;
        left: 0;
        top: 40%;
        width: 60px;
        height: 120px;
        line-height: 120px;
        background-color: black;
        opacity: 0.3;
        display: none;
        cursor: pointer;
        i {
            font-size: 60px;
            color: white;
            opacity: 0.3;
        }
    }
    .left:hover {
        background-color: black;
        opacity: 0.5;
    }
    .left:hover i {
        color: #fff;
        opacity: 1;
    }
    .right {
        position: absolute;
        right: 0;
        top: 40%;
        width: 60px;
        height: 120px;
        line-height: 120px;
        background-color: black;
        opacity: 0.3;
        display: none;
        cursor: pointer;
        i {
            font-size: 60px;
            color: white;
            opacity: 0.3;
        }
    }
    .right:hover {
        background-color: black;
        opacity: 0.5;
    }
    .right:hover i {
        color: #fff;
        opacity: 1;
    }
    .lunboxia {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, .3);
        .xiazai {
            width: 745px;
            height: 64px;
            margin: 0 auto;
            overflow: hidden;
            .pcban {
                width: 130px;
                height: 25px;
                margin-top: 20px;
                padding-left: 30px;
                padding-right: 45px;
                text-align: center;
                font-size: 15px;
                color: #fff;
                line-height: 25px;
                border-right: 1px solid #ccc;
                float: left;
                cursor: pointer;
                i {
                    font-size: 25px;
                    margin-right: 20px;
                }
            }
            .iphoneban {
                width: 150px;
                height: 25px;
                margin-top: 20px;
                margin-left: 55px;
                padding-right: 45px;
                text-align: center;
                font-size: 15px;
                color: #fff;
                line-height: 25px;
                border-right: 1px solid #ccc;
                float: left;
                cursor: pointer;
                i {
                    font-size: 28px;
                    margin-right: 20px;
                }
            }
            .androidban {
                width: 160px;
                height: 25px;
                margin-top: 20px;
                margin-left: 55px;
                text-align: center;
                font-size: 15px;
                color: #fff;
                line-height: 25px;
                float: left;
                cursor: pointer;
                i {
                    font-size: 28px;
                    margin-right: 20px;
                }
            }
        }
    }
}

.jingxuan {
    width: 1000px;
    height: 390px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    .jingxuangedan {
        width: 655px;
        height: 390px;
        float: left;
        .jingxuantou {
            width: 655px;
            height: 30px;
            padding-bottom: 30px;
            span:first-child {
                font-size: 28px;
                color: #555;
                display: block;
                float: left;
                a {
                    font-size: 28px;
                    color: #009af3;
                }
            }
            span:last-child {
                display: block;
                float: right;
                line-height: 50px;
                font-size: 14px;
                color: #999;
            }
            span:last-child:hover {
                color: #009af3;
                cursor: pointer;
            }
        }
        .jingxuan1 {
            width: 325px;
            height: 325px;
            position: relative;
            float: left;
            margin-top: 5px;
            cursor: pointer;
            img:first-child {
                width: 325px;
                height: 325px;
            }
            img:nth-child(2) {
                position: absolute;
                top: 0;
                right: 0;
            }
            span {
                display: block;
                position: absolute;
                top: 7px;
                right: 5px;
                font-size: 13px;
                color: #fff;
                i {
                    position: absolute;
                    right: 50px;
                    margin-right: 5px;
                }
            }
            .jingxuan1xia {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 309px;
                height: 38px;
                padding: 6px 8px;
                background: rgba(0, 0, 0, .5);
                font-size: 14px;
                p:first-child {
                    color: #fff;
                }
                .jingxuan1xia-a {
                    color: #cfcfcf;
                }
                i {
                    position: absolute;
                    right: 4px;
                    bottom: 2px;
                    font-size: 40px;
                    color: #fff;
                    display: none;
                }
            }
        }
        .jingxuan1:hover i:last-child {
            display: block;
        }
        .yinying1 {
            width: 325px;
            height: 325px;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
        }
        .jingxuan1:hover .yinying1 {
            display: block;
            background: rgba(0, 0, 0, .3);
        }
        .jingxuan2 {
            position: relative;
            width: 160px;
            height: 160px;
            float: left;
            margin-left: 5px;
            margin-top: 5px;
            cursor: pointer;
            img {
                width: 160px;
            }
            img:nth-child(2) {
                position: absolute;
                top: 0;
                right: 0;
            }
            span {
                display: block;
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 13px;
                color: #fff;
                i {
                    position: absolute;
                    right: 50px;
                    margin-right: 5px;
                }
            }
            .jingxuan1xia {
                width: 144px;
                height: 38px;
                padding: 6px 8px;
                position: absolute;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                font-size: 14px;
                p:first-child {
                    color: #fff;
                }
                .jingxuan1xia-b {
                    color: #cfcfcf;
                }
                i {
                    position: absolute;
                    right: 4px;
                    bottom: 2px;
                    font-size: 40px;
                    color: #fff;
                    display: none;
                }
            }
        }
        .jingxuan2:hover i:last-child {
            display: block;
        }
        .yinying2 {
            width: 160px;
            height: 160px;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
        }
        .jingxuan2:hover .yinying2 {
            display: block;
            background: rgba(0, 0, 0, .3);
        }
    }
    .remenbangdan {
        width: 320px;
        height: 385px;
        float: right;
        .rementou {
            width: 320px;
            height: 30px;
            padding-bottom: 30px;
            span:first-child {
                font-size: 28px;
                color: #555;
                display: block;
                float: left;
                a {
                    font-size: 28px;
                    color: #009af3;
                }
            }
            span:last-child {
                display: block;
                float: right;
                line-height: 50px;
                font-size: 14px;
                color: #999;
            }
            span:last-child:hover {
                color: #009af3;
                cursor: pointer;
            }
        }
        .biaosheng {
            position: relative;
            width: 320px;
            height: 98px;
            margin-top: 5px;
            margin-bottom: 15px;
            background-color: #f6f6f6;
            cursor: pointer;
            .biaoshengtu {
                position: relative;
                width: 98px;
                height: 98px;
                float: left;
                img {
                    width: 98px;
                }
            }
            .aaa {
                position: absolute;
                top: 0;
                left: 0;
                width: 98px;
                height: 98px;
                display: none;
                i:first-child {
                    position: absolute;
                    top: 30px;
                    left: 32px;
                    font-size: 35px;
                    color: #fff;
                }
            }
            .biaoshengzi {
                width: 200px;
                height: 68px;
                float: left;
                padding: 15px 10px;
                font-size: 14px;
                dt {
                    color: #333;
                    font-weight: 700;
                    line-height: 24px;
                }
                dd {
                    line-height: 24px;
                    color: #555;
                }
            }
            i:last-child {
                position: absolute;
                right: 0;
                top: 40px;
            }
        }
        .biaosheng:hover .aaa {
            display: block;
            background: rgba(0, 0, 0, .3);
        }
    }
}

.guanggao {
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    cursor: pointer;
}

.xinge {
    width: 1000px;
    height: 375px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 43px;
    .shoufa {
        width: 650px;
        height: 375px;
        float: left;
        .shoufatou {
            width: 650px;
            height: 30px;
            padding-bottom: 20px;
            margin-bottom: 10px;
            border-bottom: 1px solid #f0f0f0;
            span:first-child {
                font-size: 28px;
                color: #555;
                display: block;
                float: left;
                margin-right: 25px;
                a {
                    font-size: 28px;
                    color: #009af3;
                }
            }
            ul {
                display: block;
                float: left;
                font-size: 14px;
                line-height: 40px;
                li {
                    margin-right: 20px;
                    float: left;
                    cursor: pointer;
                }
            }
            .quanbubofang {
                width: 69px;
                height: 19px;
                padding: 5px 10px;
                border: 1px solid #dbdbdb;
                border-radius: 2px;
                float: right;
                margin-top: 7px;
                color: #555;
                font-size: 13px;
                text-align: center;
                line-height: 19px;
                cursor: pointer;
            }
            .quanbubofang:hover {
                border: 1px solid #009af3;
                color: #009af3;
            }
        }
        .shoufaliebiao {
            width: 650px;
            height: 310px;
            ul {
                display: none;
                i {
                    float: left;
                    display: none;
                }
                li:hover {
                    background-color: #f5f8fb;
                    color: #009af3;
                    cursor: pointer;
                    i {
                        display: block;
                        margin-left: 10px;
                    }
                }
            }
            ul:first-child {
                display: block;
            }

            ul li {
                width: 630px;
                height: 35px;
                line-height: 35px;
                padding: 0 10px;
                font-size: 13px;
                color: #333;
                span:first-child {
                    display: block;
                    width: 520px;
                    float: left;
                }
                span:last-child {
                    display: block;
                    float: right;
                }
            }

            .liebiaoye {
                width: 650px;
                height: 30px;
                p {
                    text-align: center;
                    font-size: 12px;
                    color: #8d8d8d;
                    line-height: 30px;
                }
            }
        }
    }
    .tuijian {
        width: 320px;
        height: 375px; // height: 362px;
        float: right;
        .tuijiantou {
            width: 320px;
            height: 30px;
            padding-bottom: 20px;
            span:first-child {
                font-size: 28px;
                color: #555;
                display: block;
                float: left;
                a {
                    font-size: 28px;
                    color: #009af3;
                }
            }
            span:last-child {
                display: block;
                float: right;
                line-height: 50px;
                font-size: 14px;
                color: #999;
            }
            span:last-child:hover {
                color: #009af3;
                cursor: pointer;
            }
        }
        .tuijiantu1 {
            position: relative;
            width: 320px;
            height: 175px;
            margin-bottom: 12px;
            cursor: pointer;
            img {
                width: 320px;
                height: 175px;
            }
            .tuijianyinying {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 304px;
                height: 38px;
                padding: 6px 8px;
                background: rgba(0, 0, 0, .5);
                font-size: 14px;
                p:first-child {
                    color: #fff;
                }
                p:last-child {
                    color: #cfcfcf;
                }
            }
            &:hover .tuijiancolor {
                position: absolute;
                top: 0;
                left: 0;
                width: 320px;
                height: 175px;
                background: rgba(0, 0, 0, .3);
                text-align: center;
                line-height: 175px;
                i {
                    color: #fff;
                    font-size: 50px;
                }
            }
        }
        .tuijiantu2 {
            position: relative;
            width: 154px;
            height: 125px;
            margin-right: 12px;
            float: left;
            cursor: pointer;
            i {
                display: none;
            }
            &:hover .tuijianzi p:first-child {
                color: #009af3;
            }
            img {
                width: 154px;
                height: 84px;
            }
            .tuijianzi {
                width: 144px;
                height: 38px;
                padding-top: 5px;
                p:first-child {
                    color: #444;
                    font-size: 14px;
                }
                p:last-child {
                    font-size: 12px;
                    color: #888;
                }
            }
            &:hover .tuijiancolor2 {
                position: absolute;
                top: 0;
                left: 0;
                width: 154px;
                height: 84px;
                background: rgba(0, 0, 0, .3);
                text-align: center;
                line-height: 84px;
                i {
                    display: block;
                    color: #fff;
                    font-size: 40px;
                }
            }
        }
        .tuijiantu3 {
            position: relative;
            width: 154px;
            height: 125px;
            float: right;
            cursor: pointer;
            i {
                display: none;
            }
            &:hover .tuijianzi p:first-child {
                color: #009af3;
            }
            img {
                width: 154px;
                height: 84px;
            }
            .tuijianzi {
                width: 144px;
                height: 38px;
                padding-top: 5px;

                p:first-child {
                    color: #444;
                    font-size: 14px;
                }
                p:last-child {
                    font-size: 12px;
                    color: #888;
                }
            }
            &:hover .tuijiancolor2 {
                position: absolute;
                top: 0;
                left: 0;
                width: 154px;
                height: 84px;
                background: rgba(0, 0, 0, .3);
                text-align: center;
                line-height: 84px;
                i {
                    display: block;
                    color: #fff;
                    font-size: 40px;
                }
            }
        }
    }
}

.remen {
    width: 1000px;
    height: 355px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;

    .diantai {
        width: 650px;
        height: 370px;
        float: left;
        .remendiantaitou {
            width: 650px;
            height: 30px;
            padding-bottom: 30px;
            span:first-child {
                font-size: 28px;
                color: #555;
                display: block;
                float: left;
                a {
                    font-size: 28px;
                    color: #009af3;
                }
            }
            span:last-child {
                display: block;
                float: right;
                line-height: 50px;
                font-size: 14px;
                color: #999;
            }
            span:last-child:hover {
                color: #009af3;
                cursor: pointer;
            }
        }
        .diantaineirong {
            width: 650px;
            height: 295px;
            li {
                position: relative;
                display: block;
                width: 100px;
                height: 130px;
                margin-right: 37px;
                margin-bottom: 25px;
                float: left;
                i {
                    display: none;
                }
                .diantaiyuan {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 10px;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
                .yuanzi {
                    width: 100px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    font-size: 14px;
                    color: #333;
                }
                &:hover .diantaiyinying {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100px;
                    height: 100px;
                    line-height: 100px;
                    text-align: center;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, .3);
                    i {
                        display: block;
                        color: #fff;
                        font-size: 30px;
                    }
                }
            }
            .fiveyuan {
                display: block;
                width: 100px;
                height: 130px;
                margin-right: 0;
                margin-bottom: 25px;
                float: left;
                i {
                    display: none;
                }
                .diantaiyuan {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 10px;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
                .yuanzi {
                    width: 100px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    font-size: 14px;
                    color: #333;
                }
                &:hover .diantaiyinying {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100px;
                    height: 100px;
                    line-height: 100px;
                    text-align: center;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, .3);
                    i {
                        display: block;
                        color: #fff;
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .geshou {
        width: 320px;
        height: 380px;
        margin-bottom: 30px;
        float: right;
        .geshoutou {
            width: 350px;
            height: 30px;
            padding-bottom: 20px;
            margin-bottom: 10px;
            background-color: pink;
            span:first-child {
                font-size: 28px;
                color: #555;
                display: block;
                float: left;
                margin-right: 25px;
                a {
                    font-size: 28px;
                    color: #009af3;
                }
            }
            ul {
                display: block;
                float: left;
                font-size: 14px;
                line-height: 40px;
                li {
                    margin-right: 20px;
                    float: left;
                    cursor: pointer;
                }
            }
        }
        .remengeshou {
            position: relative;
            width: 330px;
            height: 320px;
            .geshou {
                width: 330px;
                height: 280px;
                display: none;
                .geshou1 {
                    position: relative;
                    width: 160px;
                    height: 160px;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    float: left;
                    img {
                        width: 160px;
                        height: 160px;
                    }
                    .geshouzi {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100px;
                        height: 38px;
                        padding: 6px 8px;
                        color: #fff;
                        line-height: 50px;
                        font-size: 14px;
                    }
                }
                .geshou3 {
                    position: relative;
                    width: 105px;
                    height: 105px;
                    margin-right: 5px;
                    float: left;
                    img {
                        width: 105px;
                        height: 105px;
                    }
                    .geshouzi {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100px;
                        height: 38px;
                        padding: 6px 8px;
                        color: #fff;
                        line-height: 50px;
                        font-size: 14px;
                    }
                }
            }
            .geshou:first-child {
                display: block;
            }
            ol {
                position: absolute;
                top: 290px;
                left: 150px;
                li {
                    width: 6px;
                    height: 6px;
                    float: left;
                    border-radius: 50%;
                    margin: 0 5px;
                    background-color: #ddd;
                }
            }
        }
    }
}

.guanggaoa {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    img {
        width: 1000px;
        height: 100px;
    }
}

.hezuo {
    width: 1000px;
    height: 276px;
    margin: 0 auto;
    margin-top: 60px;
    .hezuotou {
        width: 1000px;
        height: 30px;
        padding-bottom: 30px;
        span {
            font-size: 28px;
            color: #555;
            display: block;
            float: left;
            a {
                font-size: 28px;
                color: #009af3;
            }
        }
    }
    .huoban {
        width: 1010px;
        height: 216px;
        .huoban1 {
            width: 130px;
            height: 58px;
            border: 1px dashed #ccc;
            margin-right: 12px;
            margin-bottom: 12px;
            float: left;
        }
    }
}

.youqing {
    width: 1000px;
    height: 168px;
    margin: 0 auto;
    margin-top: 30px;
    .youqingtou {
        width: 1000px;
        height: 30px;
        padding-bottom: 30px;
        span:first-child {
            font-size: 28px;
            color: #555;
            display: block;
            float: left;
            a {
                font-size: 28px;
                color: #009af3;
            }
        }
        span:last-child {
            display: block;
            float: right;
            line-height: 50px;
            font-size: 14px;
            color: #999;
        }
        span:last-child:hover {
            color: #009af3;
            cursor: pointer;
        }
    }
    .lianjie {
        width: 1000px;
        height: 88px;
        padding-bottom: 20px;
        .lianjiezi {
            width: 125px;
            height: 24px;
            margin-bottom: 20px;
            float: left;
            line-height: 24px;
            color: #555;
            font-size: 13px;
        }
    }
}

.footer {
    width: 100%;
    height: 239px;
    padding-bottom: 50px;
    background-color: #2c323b;
    .guanyu {
        width: 100%;
        height: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        color: #b1b3b9;
        float: left;
        font-size: 12px;
        border-bottom: 1px solid #3d424a;
        margin-bottom: 40px;
        a {
            padding: 10px;
            color: #b1b3b9;
            text-decoration: none;
        }
        a:hover {
            color: #009af3;
        }
    }
    .shuoming {
        width: 1000px;
        height: 150px;
        margin: 0 auto;
        margin-top: 40px;
        p {
            line-height: 30px;
            text-align: center;
            color: #b1b3b9;
            font-size: 13px;
        }
    }
}