* {
  margin: 0;
  padding: 0;
  list-style: none; }

.header {
  width: 100%;
  height: 78px;
  background-color: white; }

.header-container {
  width: 1000px;
  height: 78px;
  margin: 0 auto; }

.logo {
  width: 153px;
  height: 37px;
  margin-top: 20px;
  float: left; }

.sousuo {
  width: 298px;
  height: 34px;
  border: 1px solid #ccc;
  margin-top: 22px;
  line-height: 34px;
  float: left;
  margin-left: 30px; }
  .sousuo input {
    margin-left: 20px;
    outline: medium;
    border: none; }

.sousuotu {
  width: 34px;
  height: 34px;
  float: right;
  text-align: center; }

.sousuotu:hover {
  color: #169af3;
  cursor: pointer; }

.kefu {
  width: 402px;
  height: 30px;
  line-height: 30px;
  float: right;
  margin-top: 24px; }
  .kefu ul {
    width: 260px;
    color: #777;
    float: left;
    border-right: 1px solid #e6e6e6; }
    .kefu ul li {
      float: left;
      padding: 0 15px;
      font-size: 13px; }
    .kefu ul li:hover {
      color: #169af3;
      cursor: pointer; }
  .kefu .denglu {
    width: 48px;
    height: 28px;
    border: 1px solid #169af3;
    float: left;
    border-radius: 2px;
    background-color: #169af3;
    text-align: center;
    margin-left: 27px;
    color: #fff;
    font-size: 14px; }
  .kefu .zhuce {
    width: 48px;
    height: 28px;
    border: #169af3;
    float: left;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    margin-left: 13px;
    font-size: 14px;
    color: #777; }
  .kefu .denglu:hover {
    background-color: #158FE1;
    cursor: pointer; }
  .kefu .zhuce:hover {
    color: #169af3;
    border: 1px solid #169af3;
    cursor: pointer; }

.nav {
  width: 100%;
  height: 55px;
  background-color: #2c323b; }
  .nav .nav-container {
    width: 1000px;
    height: 55px;
    margin: 0 auto; }
    .nav .nav-container .shouye {
      position: relative;
      height: 55px;
      line-height: 55px;
      float: left; }
      .nav .nav-container .shouye li {
        float: left;
        padding: 0 30px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        cursor: pointer; }
      .nav .nav-container .shouye .shouyeli {
        background-color: #169af3; }
      .nav .nav-container .shouye li:hover {
        background-color: #169af3; }
      .nav .nav-container .shouye .gengduoli:hover .gengduo {
        display: block; }
      .nav .nav-container .shouye .gengduo {
        position: absolute;
        left: 324px;
        top: 37px;
        display: none;
        z-index: 999; }
        .nav .nav-container .shouye .gengduo li {
          clear: both;
          width: 113px;
          height: 36px;
          text-align: center;
          line-height: 36px;
          font-size: 15px;
          background-color: #2c323b;
          color: #bbb;
          cursor: pointer;
          margin: 0;
          padding: 0; }
        .nav .nav-container .shouye .gengduo li:hover {
          background-color: #2d343d;
          color: #fff; }
    .nav .nav-container ul:last-child {
      float: right;
      margin-top: 18px; }
      .nav .nav-container ul:last-child li {
        float: left;
        font-size: 13px;
        color: #bbb;
        margin-left: 30px; }
      .nav .nav-container ul:last-child li:hover {
        color: #169af3;
        cursor: pointer; }

.lunbo {
  width: 100%;
  height: 445px;
  position: relative;
  overflow: hidden; }
  .lunbo ul {
    cursor: pointer; }
  .lunbo img {
    width: 100%; }
  .lunbo ul li {
    position: absolute;
    left: 0;
    top: 0;
    display: none; }
  .lunbo ul li:first-child {
    display: block; }
  .lunbo ol {
    position: absolute;
    top: 365px;
    left: 855px; }
  .lunbo ol li {
    float: left;
    width: 7px;
    height: 7px;
    margin: 0 7px;
    font-size: 0;
    background-color: #a4bdca;
    border-radius: 50%; }
  .lunbo .active {
    width: 10px;
    height: 10px;
    background-color: #fff; }
  .lunbo .left {
    position: absolute;
    left: 0;
    top: 40%;
    width: 60px;
    height: 120px;
    line-height: 120px;
    background-color: black;
    opacity: 0.3;
    display: none;
    cursor: pointer; }
    .lunbo .left i {
      font-size: 60px;
      color: white;
      opacity: 0.3; }
  .lunbo .left:hover {
    background-color: black;
    opacity: 0.5; }
  .lunbo .left:hover i {
    color: #fff;
    opacity: 1; }
  .lunbo .right {
    position: absolute;
    right: 0;
    top: 40%;
    width: 60px;
    height: 120px;
    line-height: 120px;
    background-color: black;
    opacity: 0.3;
    display: none;
    cursor: pointer; }
    .lunbo .right i {
      font-size: 60px;
      color: white;
      opacity: 0.3; }
  .lunbo .right:hover {
    background-color: black;
    opacity: 0.5; }
  .lunbo .right:hover i {
    color: #fff;
    opacity: 1; }
  .lunbo .lunboxia {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3); }
    .lunbo .lunboxia .xiazai {
      width: 745px;
      height: 64px;
      margin: 0 auto;
      overflow: hidden; }
      .lunbo .lunboxia .xiazai .pcban {
        width: 130px;
        height: 25px;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 45px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        border-right: 1px solid #ccc;
        float: left;
        cursor: pointer; }
        .lunbo .lunboxia .xiazai .pcban i {
          font-size: 25px;
          margin-right: 20px; }
      .lunbo .lunboxia .xiazai .iphoneban {
        width: 150px;
        height: 25px;
        margin-top: 20px;
        margin-left: 55px;
        padding-right: 45px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        border-right: 1px solid #ccc;
        float: left;
        cursor: pointer; }
        .lunbo .lunboxia .xiazai .iphoneban i {
          font-size: 28px;
          margin-right: 20px; }
      .lunbo .lunboxia .xiazai .androidban {
        width: 160px;
        height: 25px;
        margin-top: 20px;
        margin-left: 55px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        float: left;
        cursor: pointer; }
        .lunbo .lunboxia .xiazai .androidban i {
          font-size: 28px;
          margin-right: 20px; }

.jingxuan {
  width: 1000px;
  height: 390px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px; }
  .jingxuan .jingxuangedan {
    width: 655px;
    height: 390px;
    float: left; }
    .jingxuan .jingxuangedan .jingxuantou {
      width: 655px;
      height: 30px;
      padding-bottom: 30px; }
      .jingxuan .jingxuangedan .jingxuantou span:first-child {
        font-size: 28px;
        color: #555;
        display: block;
        float: left; }
        .jingxuan .jingxuangedan .jingxuantou span:first-child a {
          font-size: 28px;
          color: #009af3; }
      .jingxuan .jingxuangedan .jingxuantou span:last-child {
        display: block;
        float: right;
        line-height: 50px;
        font-size: 14px;
        color: #999; }
      .jingxuan .jingxuangedan .jingxuantou span:last-child:hover {
        color: #009af3;
        cursor: pointer; }
    .jingxuan .jingxuangedan .jingxuan1 {
      width: 325px;
      height: 325px;
      position: relative;
      float: left;
      margin-top: 5px;
      cursor: pointer; }
      .jingxuan .jingxuangedan .jingxuan1 img:first-child {
        width: 325px;
        height: 325px; }
      .jingxuan .jingxuangedan .jingxuan1 img:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0; }
      .jingxuan .jingxuangedan .jingxuan1 span {
        display: block;
        position: absolute;
        top: 7px;
        right: 5px;
        font-size: 13px;
        color: #fff; }
        .jingxuan .jingxuangedan .jingxuan1 span i {
          position: absolute;
          right: 50px;
          margin-right: 5px; }
      .jingxuan .jingxuangedan .jingxuan1 .jingxuan1xia {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 309px;
        height: 38px;
        padding: 6px 8px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 14px; }
        .jingxuan .jingxuangedan .jingxuan1 .jingxuan1xia p:first-child {
          color: #fff; }
        .jingxuan .jingxuangedan .jingxuan1 .jingxuan1xia .jingxuan1xia-a {
          color: #cfcfcf; }
        .jingxuan .jingxuangedan .jingxuan1 .jingxuan1xia i {
          position: absolute;
          right: 4px;
          bottom: 2px;
          font-size: 40px;
          color: #fff;
          display: none; }
    .jingxuan .jingxuangedan .jingxuan1:hover i:last-child {
      display: block; }
    .jingxuan .jingxuangedan .yinying1 {
      width: 325px;
      height: 325px;
      position: absolute;
      top: 0;
      right: 0;
      display: none; }
    .jingxuan .jingxuangedan .jingxuan1:hover .yinying1 {
      display: block;
      background: rgba(0, 0, 0, 0.3); }
    .jingxuan .jingxuangedan .jingxuan2 {
      position: relative;
      width: 160px;
      height: 160px;
      float: left;
      margin-left: 5px;
      margin-top: 5px;
      cursor: pointer; }
      .jingxuan .jingxuangedan .jingxuan2 img {
        width: 160px; }
      .jingxuan .jingxuangedan .jingxuan2 img:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0; }
      .jingxuan .jingxuangedan .jingxuan2 span {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 13px;
        color: #fff; }
        .jingxuan .jingxuangedan .jingxuan2 span i {
          position: absolute;
          right: 50px;
          margin-right: 5px; }
      .jingxuan .jingxuangedan .jingxuan2 .jingxuan1xia {
        width: 144px;
        height: 38px;
        padding: 6px 8px;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        font-size: 14px; }
        .jingxuan .jingxuangedan .jingxuan2 .jingxuan1xia p:first-child {
          color: #fff; }
        .jingxuan .jingxuangedan .jingxuan2 .jingxuan1xia .jingxuan1xia-b {
          color: #cfcfcf; }
        .jingxuan .jingxuangedan .jingxuan2 .jingxuan1xia i {
          position: absolute;
          right: 4px;
          bottom: 2px;
          font-size: 40px;
          color: #fff;
          display: none; }
    .jingxuan .jingxuangedan .jingxuan2:hover i:last-child {
      display: block; }
    .jingxuan .jingxuangedan .yinying2 {
      width: 160px;
      height: 160px;
      position: absolute;
      top: 0;
      right: 0;
      display: none; }
    .jingxuan .jingxuangedan .jingxuan2:hover .yinying2 {
      display: block;
      background: rgba(0, 0, 0, 0.3); }
  .jingxuan .remenbangdan {
    width: 320px;
    height: 385px;
    float: right; }
    .jingxuan .remenbangdan .rementou {
      width: 320px;
      height: 30px;
      padding-bottom: 30px; }
      .jingxuan .remenbangdan .rementou span:first-child {
        font-size: 28px;
        color: #555;
        display: block;
        float: left; }
        .jingxuan .remenbangdan .rementou span:first-child a {
          font-size: 28px;
          color: #009af3; }
      .jingxuan .remenbangdan .rementou span:last-child {
        display: block;
        float: right;
        line-height: 50px;
        font-size: 14px;
        color: #999; }
      .jingxuan .remenbangdan .rementou span:last-child:hover {
        color: #009af3;
        cursor: pointer; }
    .jingxuan .remenbangdan .biaosheng {
      position: relative;
      width: 320px;
      height: 98px;
      margin-top: 5px;
      margin-bottom: 15px;
      background-color: #f6f6f6;
      cursor: pointer; }
      .jingxuan .remenbangdan .biaosheng .biaoshengtu {
        position: relative;
        width: 98px;
        height: 98px;
        float: left; }
        .jingxuan .remenbangdan .biaosheng .biaoshengtu img {
          width: 98px; }
      .jingxuan .remenbangdan .biaosheng .aaa {
        position: absolute;
        top: 0;
        left: 0;
        width: 98px;
        height: 98px;
        display: none; }
        .jingxuan .remenbangdan .biaosheng .aaa i:first-child {
          position: absolute;
          top: 30px;
          left: 32px;
          font-size: 35px;
          color: #fff; }
      .jingxuan .remenbangdan .biaosheng .biaoshengzi {
        width: 200px;
        height: 68px;
        float: left;
        padding: 15px 10px;
        font-size: 14px; }
        .jingxuan .remenbangdan .biaosheng .biaoshengzi dt {
          color: #333;
          font-weight: 700;
          line-height: 24px; }
        .jingxuan .remenbangdan .biaosheng .biaoshengzi dd {
          line-height: 24px;
          color: #555; }
      .jingxuan .remenbangdan .biaosheng i:last-child {
        position: absolute;
        right: 0;
        top: 40px; }
    .jingxuan .remenbangdan .biaosheng:hover .aaa {
      display: block;
      background: rgba(0, 0, 0, 0.3); }

.guanggao {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  cursor: pointer; }

.xinge {
  width: 1000px;
  height: 375px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 43px; }
  .xinge .shoufa {
    width: 650px;
    height: 375px;
    float: left; }
    .xinge .shoufa .shoufatou {
      width: 650px;
      height: 30px;
      padding-bottom: 20px;
      margin-bottom: 10px;
      border-bottom: 1px solid #f0f0f0; }
      .xinge .shoufa .shoufatou span:first-child {
        font-size: 28px;
        color: #555;
        display: block;
        float: left;
        margin-right: 25px; }
        .xinge .shoufa .shoufatou span:first-child a {
          font-size: 28px;
          color: #009af3; }
      .xinge .shoufa .shoufatou ul {
        display: block;
        float: left;
        font-size: 14px;
        line-height: 40px; }
        .xinge .shoufa .shoufatou ul li {
          margin-right: 20px;
          float: left;
          cursor: pointer; }
      .xinge .shoufa .shoufatou .quanbubofang {
        width: 69px;
        height: 19px;
        padding: 5px 10px;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        float: right;
        margin-top: 7px;
        color: #555;
        font-size: 13px;
        text-align: center;
        line-height: 19px;
        cursor: pointer; }
      .xinge .shoufa .shoufatou .quanbubofang:hover {
        border: 1px solid #009af3;
        color: #009af3; }
    .xinge .shoufa .shoufaliebiao {
      width: 650px;
      height: 310px; }
      .xinge .shoufa .shoufaliebiao ul {
        display: none; }
        .xinge .shoufa .shoufaliebiao ul i {
          float: left;
          display: none; }
        .xinge .shoufa .shoufaliebiao ul li:hover {
          background-color: #f5f8fb;
          color: #009af3;
          cursor: pointer; }
          .xinge .shoufa .shoufaliebiao ul li:hover i {
            display: block;
            margin-left: 10px; }
      .xinge .shoufa .shoufaliebiao ul:first-child {
        display: block; }
      .xinge .shoufa .shoufaliebiao ul li {
        width: 630px;
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        font-size: 13px;
        color: #333; }
        .xinge .shoufa .shoufaliebiao ul li span:first-child {
          display: block;
          width: 520px;
          float: left; }
        .xinge .shoufa .shoufaliebiao ul li span:last-child {
          display: block;
          float: right; }
      .xinge .shoufa .shoufaliebiao .liebiaoye {
        width: 650px;
        height: 30px; }
        .xinge .shoufa .shoufaliebiao .liebiaoye p {
          text-align: center;
          font-size: 12px;
          color: #8d8d8d;
          line-height: 30px; }
  .xinge .tuijian {
    width: 320px;
    height: 375px;
    float: right; }
    .xinge .tuijian .tuijiantou {
      width: 320px;
      height: 30px;
      padding-bottom: 20px; }
      .xinge .tuijian .tuijiantou span:first-child {
        font-size: 28px;
        color: #555;
        display: block;
        float: left; }
        .xinge .tuijian .tuijiantou span:first-child a {
          font-size: 28px;
          color: #009af3; }
      .xinge .tuijian .tuijiantou span:last-child {
        display: block;
        float: right;
        line-height: 50px;
        font-size: 14px;
        color: #999; }
      .xinge .tuijian .tuijiantou span:last-child:hover {
        color: #009af3;
        cursor: pointer; }
    .xinge .tuijian .tuijiantu1 {
      position: relative;
      width: 320px;
      height: 175px;
      margin-bottom: 12px;
      cursor: pointer; }
      .xinge .tuijian .tuijiantu1 img {
        width: 320px;
        height: 175px; }
      .xinge .tuijian .tuijiantu1 .tuijianyinying {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 304px;
        height: 38px;
        padding: 6px 8px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 14px; }
        .xinge .tuijian .tuijiantu1 .tuijianyinying p:first-child {
          color: #fff; }
        .xinge .tuijian .tuijiantu1 .tuijianyinying p:last-child {
          color: #cfcfcf; }
      .xinge .tuijian .tuijiantu1:hover .tuijiancolor {
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 175px;
        background: rgba(0, 0, 0, 0.3);
        text-align: center;
        line-height: 175px; }
        .xinge .tuijian .tuijiantu1:hover .tuijiancolor i {
          color: #fff;
          font-size: 50px; }
    .xinge .tuijian .tuijiantu2 {
      position: relative;
      width: 154px;
      height: 125px;
      margin-right: 12px;
      float: left;
      cursor: pointer; }
      .xinge .tuijian .tuijiantu2 i {
        display: none; }
      .xinge .tuijian .tuijiantu2:hover .tuijianzi p:first-child {
        color: #009af3; }
      .xinge .tuijian .tuijiantu2 img {
        width: 154px;
        height: 84px; }
      .xinge .tuijian .tuijiantu2 .tuijianzi {
        width: 144px;
        height: 38px;
        padding-top: 5px; }
        .xinge .tuijian .tuijiantu2 .tuijianzi p:first-child {
          color: #444;
          font-size: 14px; }
        .xinge .tuijian .tuijiantu2 .tuijianzi p:last-child {
          font-size: 12px;
          color: #888; }
      .xinge .tuijian .tuijiantu2:hover .tuijiancolor2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 154px;
        height: 84px;
        background: rgba(0, 0, 0, 0.3);
        text-align: center;
        line-height: 84px; }
        .xinge .tuijian .tuijiantu2:hover .tuijiancolor2 i {
          display: block;
          color: #fff;
          font-size: 40px; }
    .xinge .tuijian .tuijiantu3 {
      position: relative;
      width: 154px;
      height: 125px;
      float: right;
      cursor: pointer; }
      .xinge .tuijian .tuijiantu3 i {
        display: none; }
      .xinge .tuijian .tuijiantu3:hover .tuijianzi p:first-child {
        color: #009af3; }
      .xinge .tuijian .tuijiantu3 img {
        width: 154px;
        height: 84px; }
      .xinge .tuijian .tuijiantu3 .tuijianzi {
        width: 144px;
        height: 38px;
        padding-top: 5px; }
        .xinge .tuijian .tuijiantu3 .tuijianzi p:first-child {
          color: #444;
          font-size: 14px; }
        .xinge .tuijian .tuijiantu3 .tuijianzi p:last-child {
          font-size: 12px;
          color: #888; }
      .xinge .tuijian .tuijiantu3:hover .tuijiancolor2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 154px;
        height: 84px;
        background: rgba(0, 0, 0, 0.3);
        text-align: center;
        line-height: 84px; }
        .xinge .tuijian .tuijiantu3:hover .tuijiancolor2 i {
          display: block;
          color: #fff;
          font-size: 40px; }

.remen {
  width: 1000px;
  height: 355px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px; }
  .remen .diantai {
    width: 650px;
    height: 370px;
    float: left; }
    .remen .diantai .remendiantaitou {
      width: 650px;
      height: 30px;
      padding-bottom: 30px; }
      .remen .diantai .remendiantaitou span:first-child {
        font-size: 28px;
        color: #555;
        display: block;
        float: left; }
        .remen .diantai .remendiantaitou span:first-child a {
          font-size: 28px;
          color: #009af3; }
      .remen .diantai .remendiantaitou span:last-child {
        display: block;
        float: right;
        line-height: 50px;
        font-size: 14px;
        color: #999; }
      .remen .diantai .remendiantaitou span:last-child:hover {
        color: #009af3;
        cursor: pointer; }
    .remen .diantai .diantaineirong {
      width: 650px;
      height: 295px; }
      .remen .diantai .diantaineirong li {
        position: relative;
        display: block;
        width: 100px;
        height: 130px;
        margin-right: 37px;
        margin-bottom: 25px;
        float: left; }
        .remen .diantai .diantaineirong li i {
          display: none; }
        .remen .diantai .diantaineirong li .diantaiyuan {
          width: 100px;
          height: 100px;
          margin-bottom: 10px; }
          .remen .diantai .diantaineirong li .diantaiyuan img {
            width: 100px;
            height: 100px; }
        .remen .diantai .diantaineirong li .yuanzi {
          width: 100px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          font-size: 14px;
          color: #333; }
        .remen .diantai .diantaineirong li:hover .diantaiyinying {
          position: absolute;
          top: 0;
          left: 0;
          width: 100px;
          height: 100px;
          line-height: 100px;
          text-align: center;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.3); }
          .remen .diantai .diantaineirong li:hover .diantaiyinying i {
            display: block;
            color: #fff;
            font-size: 30px; }
      .remen .diantai .diantaineirong .fiveyuan {
        display: block;
        width: 100px;
        height: 130px;
        margin-right: 0;
        margin-bottom: 25px;
        float: left; }
        .remen .diantai .diantaineirong .fiveyuan i {
          display: none; }
        .remen .diantai .diantaineirong .fiveyuan .diantaiyuan {
          width: 100px;
          height: 100px;
          margin-bottom: 10px; }
          .remen .diantai .diantaineirong .fiveyuan .diantaiyuan img {
            width: 100px;
            height: 100px; }
        .remen .diantai .diantaineirong .fiveyuan .yuanzi {
          width: 100px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          font-size: 14px;
          color: #333; }
        .remen .diantai .diantaineirong .fiveyuan:hover .diantaiyinying {
          position: absolute;
          top: 0;
          left: 0;
          width: 100px;
          height: 100px;
          line-height: 100px;
          text-align: center;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.3); }
          .remen .diantai .diantaineirong .fiveyuan:hover .diantaiyinying i {
            display: block;
            color: #fff;
            font-size: 30px; }
  .remen .geshou {
    width: 320px;
    height: 380px;
    margin-bottom: 30px;
    float: right; }
    .remen .geshou .geshoutou {
      width: 350px;
      height: 30px;
      padding-bottom: 20px;
      margin-bottom: 10px;
      background-color: pink; }
      .remen .geshou .geshoutou span:first-child {
        font-size: 28px;
        color: #555;
        display: block;
        float: left;
        margin-right: 25px; }
        .remen .geshou .geshoutou span:first-child a {
          font-size: 28px;
          color: #009af3; }
      .remen .geshou .geshoutou ul {
        display: block;
        float: left;
        font-size: 14px;
        line-height: 40px; }
        .remen .geshou .geshoutou ul li {
          margin-right: 20px;
          float: left;
          cursor: pointer; }
    .remen .geshou .remengeshou {
      position: relative;
      width: 330px;
      height: 320px; }
      .remen .geshou .remengeshou .geshou {
        width: 330px;
        height: 280px;
        display: none; }
        .remen .geshou .remengeshou .geshou .geshou1 {
          position: relative;
          width: 160px;
          height: 160px;
          margin-right: 5px;
          margin-bottom: 5px;
          float: left; }
          .remen .geshou .remengeshou .geshou .geshou1 img {
            width: 160px;
            height: 160px; }
          .remen .geshou .remengeshou .geshou .geshou1 .geshouzi {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100px;
            height: 38px;
            padding: 6px 8px;
            color: #fff;
            line-height: 50px;
            font-size: 14px; }
        .remen .geshou .remengeshou .geshou .geshou3 {
          position: relative;
          width: 105px;
          height: 105px;
          margin-right: 5px;
          float: left; }
          .remen .geshou .remengeshou .geshou .geshou3 img {
            width: 105px;
            height: 105px; }
          .remen .geshou .remengeshou .geshou .geshou3 .geshouzi {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100px;
            height: 38px;
            padding: 6px 8px;
            color: #fff;
            line-height: 50px;
            font-size: 14px; }
      .remen .geshou .remengeshou .geshou:first-child {
        display: block; }
      .remen .geshou .remengeshou ol {
        position: absolute;
        top: 290px;
        left: 150px; }
        .remen .geshou .remengeshou ol li {
          width: 6px;
          height: 6px;
          float: left;
          border-radius: 50%;
          margin: 0 5px;
          background-color: #ddd; }

.guanggaoa {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer; }
  .guanggaoa img {
    width: 1000px;
    height: 100px; }

.hezuo {
  width: 1000px;
  height: 276px;
  margin: 0 auto;
  margin-top: 60px; }
  .hezuo .hezuotou {
    width: 1000px;
    height: 30px;
    padding-bottom: 30px; }
    .hezuo .hezuotou span {
      font-size: 28px;
      color: #555;
      display: block;
      float: left; }
      .hezuo .hezuotou span a {
        font-size: 28px;
        color: #009af3; }
  .hezuo .huoban {
    width: 1010px;
    height: 216px; }
    .hezuo .huoban .huoban1 {
      width: 130px;
      height: 58px;
      border: 1px dashed #ccc;
      margin-right: 12px;
      margin-bottom: 12px;
      float: left; }

.youqing {
  width: 1000px;
  height: 168px;
  margin: 0 auto;
  margin-top: 30px; }
  .youqing .youqingtou {
    width: 1000px;
    height: 30px;
    padding-bottom: 30px; }
    .youqing .youqingtou span:first-child {
      font-size: 28px;
      color: #555;
      display: block;
      float: left; }
      .youqing .youqingtou span:first-child a {
        font-size: 28px;
        color: #009af3; }
    .youqing .youqingtou span:last-child {
      display: block;
      float: right;
      line-height: 50px;
      font-size: 14px;
      color: #999; }
    .youqing .youqingtou span:last-child:hover {
      color: #009af3;
      cursor: pointer; }
  .youqing .lianjie {
    width: 1000px;
    height: 88px;
    padding-bottom: 20px; }
    .youqing .lianjie .lianjiezi {
      width: 125px;
      height: 24px;
      margin-bottom: 20px;
      float: left;
      line-height: 24px;
      color: #555;
      font-size: 13px; }

.footer {
  width: 100%;
  height: 239px;
  padding-bottom: 50px;
  background-color: #2c323b; }
  .footer .guanyu {
    width: 100%;
    height: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #b1b3b9;
    float: left;
    font-size: 12px;
    border-bottom: 1px solid #3d424a;
    margin-bottom: 40px; }
    .footer .guanyu a {
      padding: 10px;
      color: #b1b3b9;
      text-decoration: none; }
    .footer .guanyu a:hover {
      color: #009af3; }
  .footer .shuoming {
    width: 1000px;
    height: 150px;
    margin: 0 auto;
    margin-top: 40px; }
    .footer .shuoming p {
      line-height: 30px;
      text-align: center;
      color: #b1b3b9;
      font-size: 13px; }
