* {
  margin: 0;
  padding: 0;
  list-style: none; }

.header {
  width: 100%;
  height: 78px;
  background-color: white; }

.header-container {
  width: 1000px;
  height: 78px;
  margin: 0 auto; }

.logo {
  width: 153px;
  height: 37px;
  margin-top: 20px;
  float: left; }

.sousuo {
  width: 298px;
  height: 34px;
  border: 1px solid #ccc;
  margin-top: 22px;
  line-height: 34px;
  float: left;
  margin-left: 30px; }
  .sousuo input {
    margin-left: 20px;
    outline: medium;
    border: none; }

.sousuotu {
  width: 34px;
  height: 34px;
  float: right;
  text-align: center; }

.sousuotu:hover {
  color: #169af3;
  cursor: pointer; }

.kefu {
  width: 402px;
  height: 30px;
  line-height: 30px;
  float: right;
  margin-top: 24px; }
  .kefu ul {
    width: 260px;
    color: #777;
    float: left;
    border-right: 1px solid #e6e6e6; }
    .kefu ul li {
      float: left;
      padding: 0 15px;
      font-size: 13px; }
    .kefu ul li:hover {
      color: #169af3;
      cursor: pointer; }
  .kefu .denglu {
    width: 48px;
    height: 28px;
    border: 1px solid #169af3;
    float: left;
    border-radius: 2px;
    background-color: #169af3;
    text-align: center;
    margin-left: 27px;
    color: #fff;
    font-size: 14px; }
  .kefu .zhuce {
    width: 48px;
    height: 28px;
    border: #169af3;
    float: left;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    margin-left: 13px;
    font-size: 14px;
    color: #777; }
  .kefu .denglu:hover {
    background-color: #158FE1;
    cursor: pointer; }
  .kefu .zhuce:hover {
    color: #169af3;
    border: 1px solid #169af3;
    cursor: pointer; }

.nav {
  width: 100%;
  height: 55px;
  background-color: #2c323b; }
  .nav .nav-container {
    width: 1000px;
    height: 55px;
    margin: 0 auto; }
    .nav .nav-container .shouye {
      position: relative;
      height: 55px;
      line-height: 55px;
      float: left; }
      .nav .nav-container .shouye li {
        float: left;
        padding: 0 30px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        cursor: pointer; }
      .nav .nav-container .shouye .shouyeli {
        background-color: #169af3; }
      .nav .nav-container .shouye li:hover {
        background-color: #169af3; }
      .nav .nav-container .shouye .gengduoli:hover .gengduo {
        display: block; }
      .nav .nav-container .shouye .gengduo {
        position: absolute;
        left: 324px;
        top: 37px;
        display: none;
        z-index: 999; }
        .nav .nav-container .shouye .gengduo li {
          clear: both;
          width: 113px;
          height: 36px;
          text-align: center;
          line-height: 36px;
          font-size: 15px;
          background-color: #2c323b;
          color: #bbb;
          cursor: pointer;
          margin: 0;
          padding: 0; }
        .nav .nav-container .shouye .gengduo li:hover {
          background-color: #2d343d;
          color: #fff; }
    .nav .nav-container ul:last-child {
      float: right;
      margin-top: 18px; }
      .nav .nav-container ul:last-child li {
        float: left;
        font-size: 13px;
        color: #bbb;
        margin-left: 30px; }
      .nav .nav-container ul:last-child li:hover {
        color: #169af3;
        cursor: pointer; }

.lunbo {
  width: 100%;
  height: 445px;
  position: relative;
  overflow: hidden; }
  .lunbo img {
    width: 100%; }
  .lunbo ul li {
    position: absolute;
    left: 0;
    top: 0;
    display: none; }
  .lunbo ul li:first-child {
    display: block; }
  .lunbo ol {
    position: absolute;
    top: 365px;
    left: 855px; }
  .lunbo ol li {
    float: left;
    width: 7px;
    height: 7px;
    margin: 0 7px;
    font-size: 0;
    background-color: #a4bdca;
    border-radius: 50%; }
  .lunbo .active {
    width: 10px;
    height: 10px;
    background-color: #fff; }
  .lunbo .left {
    position: absolute;
    left: 0;
    top: 40%;
    width: 60px;
    height: 120px;
    line-height: 120px;
    background-color: black;
    opacity: 0.3;
    display: none; }
    .lunbo .left i {
      font-size: 60px;
      color: white;
      opacity: 0.3; }
  .lunbo .left:hover {
    background-color: black;
    opacity: 0.5; }
  .lunbo .left:hover i {
    color: #fff;
    opacity: 1; }
  .lunbo .right {
    position: absolute;
    right: 0;
    top: 40%;
    width: 60px;
    height: 120px;
    line-height: 120px;
    background-color: black;
    opacity: 0.3;
    display: none; }
    .lunbo .right i {
      font-size: 60px;
      color: white;
      opacity: 0.3; }
  .lunbo .right:hover {
    background-color: black;
    opacity: 0.5; }
  .lunbo .right:hover i {
    color: #fff;
    opacity: 1; }
  .lunbo .lunboxia {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3); }
    .lunbo .lunboxia .xiazai {
      width: 745px;
      height: 64px;
      margin: 0 auto;
      overflow: hidden; }
      .lunbo .lunboxia .xiazai .pcban {
        width: 130px;
        height: 25px;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 45px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        border-right: 1px solid #ccc;
        float: left;
        cursor: pointer; }
        .lunbo .lunboxia .xiazai .pcban i {
          font-size: 25px;
          margin-right: 20px; }
      .lunbo .lunboxia .xiazai .iphoneban {
        width: 150px;
        height: 25px;
        margin-top: 20px;
        margin-left: 55px;
        padding-right: 45px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        border-right: 1px solid #ccc;
        float: left;
        cursor: pointer; }
        .lunbo .lunboxia .xiazai .iphoneban i {
          font-size: 28px;
          margin-right: 20px; }
      .lunbo .lunboxia .xiazai .androidban {
        width: 160px;
        height: 25px;
        margin-top: 20px;
        margin-left: 55px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        line-height: 25px;
        float: left;
        cursor: pointer; }
        .lunbo .lunboxia .xiazai .androidban i {
          font-size: 28px;
          margin-right: 20px; }

.jingxuan {
  width: 1000px;
  height: 390px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px; }
  .jingxuan .jingxuangedan {
    width: 655px;
    height: 390px;
    float: left; }
    .jingxuan .jingxuangedan .jingxuantou {
      width: 655px;
      height: 30px;
      padding-bottom: 30px; }
      .jingxuan .jingxuangedan .jingxuantou span:first-child {
        font-size: 28px;
        color: #555;
        display: block;
        float: left; }
        .jingxuan .jingxuangedan .jingxuantou span:first-child a {
          font-size: 28px;
          color: #009af3; }
      .jingxuan .jingxuangedan .jingxuantou span:last-child {
        display: block;
        float: right;
        line-height: 50px;
        font-size: 14px;
        color: #999; }
    .jingxuan .jingxuangedan .jingxuan1 {
      width: 325px;
      height: 325px;
      position: relative;
      float: left;
      margin-top: 5px;
      cursor: pointer; }
      .jingxuan .jingxuangedan .jingxuan1 img:first-child {
        width: 325px;
        height: 325px; }
      .jingxuan .jingxuangedan .jingxuan1 img:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0; }
      .jingxuan .jingxuangedan .jingxuan1 span {
        display: block;
        position: absolute;
        top: 7px;
        right: 5px;
        font-size: 13px;
        color: #fff; }
        .jingxuan .jingxuangedan .jingxuan1 span i {
          position: absolute;
          right: 50px;
          margin-right: 5px; }
      .jingxuan .jingxuangedan .jingxuan1 .jingxuan1xia {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 309px;
        height: 38px;
        padding: 6px 8px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 14px; }
        .jingxuan .jingxuangedan .jingxuan1 .jingxuan1xia p:first-child {
          color: #fff; }
        .jingxuan .jingxuangedan .jingxuan1 .jingxuan1xia .jingxuan1xia-a {
          color: #cfcfcf; }
        .jingxuan .jingxuangedan .jingxuan1 .jingxuan1xia i {
          position: absolute;
          right: 4px;
          bottom: 2px;
          font-size: 40px;
          color: #fff;
          display: none; }
    .jingxuan .jingxuangedan .jingxuan1:hover i:last-child {
      display: block; }
    .jingxuan .jingxuangedan .yinying1 {
      width: 325px;
      height: 325px;
      position: absolute;
      top: 0;
      right: 0;
      display: none; }
    .jingxuan .jingxuangedan .jingxuan1:hover .yinying1 {
      display: block;
      background: rgba(0, 0, 0, 0.3); }
    .jingxuan .jingxuangedan .jingxuan2 {
      position: relative;
      width: 160px;
      height: 160px;
      float: left;
      margin-left: 5px;
      margin-top: 5px;
      cursor: pointer; }
      .jingxuan .jingxuangedan .jingxuan2 img {
        width: 160px; }
      .jingxuan .jingxuangedan .jingxuan2 img:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0; }
      .jingxuan .jingxuangedan .jingxuan2 span {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 13px;
        color: #fff; }
        .jingxuan .jingxuangedan .jingxuan2 span i {
          position: absolute;
          right: 50px;
          margin-right: 5px; }
      .jingxuan .jingxuangedan .jingxuan2 .jingxuan1xia {
        width: 144px;
        height: 38px;
        padding: 6px 8px;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        font-size: 14px; }
        .jingxuan .jingxuangedan .jingxuan2 .jingxuan1xia p:first-child {
          color: #fff; }
        .jingxuan .jingxuangedan .jingxuan2 .jingxuan1xia .jingxuan1xia-b {
          color: #cfcfcf; }
        .jingxuan .jingxuangedan .jingxuan2 .jingxuan1xia i {
          position: absolute;
          right: 4px;
          bottom: 2px;
          font-size: 40px;
          color: #fff;
          display: none; }
    .jingxuan .jingxuangedan .jingxuan2:hover i:last-child {
      display: block; }
    .jingxuan .jingxuangedan .yinying2 {
      width: 160px;
      height: 160px;
      position: absolute;
      top: 0;
      right: 0;
      display: none; }
    .jingxuan .jingxuangedan .jingxuan2:hover .yinying2 {
      display: block;
      background: rgba(0, 0, 0, 0.3); }
  .jingxuan .remenbangdan {
    width: 320px;
    height: 385px;
    float: right; }
    .jingxuan .remenbangdan .rementou {
      width: 320px;
      height: 30px;
      padding-bottom: 30px; }
      .jingxuan .remenbangdan .rementou span:first-child {
        font-size: 28px;
        color: #555;
        display: block;
        float: left; }
        .jingxuan .remenbangdan .rementou span:first-child a {
          font-size: 28px;
          color: #009af3; }
      .jingxuan .remenbangdan .rementou span:last-child {
        display: block;
        float: right;
        line-height: 50px;
        font-size: 14px;
        color: #999; }
    .jingxuan .remenbangdan .biaosheng {
      position: relative;
      width: 320px;
      height: 98px;
      margin-top: 5px;
      margin-bottom: 15px;
      background-color: #f6f6f6;
      cursor: pointer; }
      .jingxuan .remenbangdan .biaosheng .biaoshengtu {
        width: 98px;
        height: 98px;
        float: left; }
        .jingxuan .remenbangdan .biaosheng .biaoshengtu img {
          width: 98px; }
      .jingxuan .remenbangdan .biaosheng .biaoshengzi {
        width: 200px;
        height: 68px;
        float: left;
        padding: 15px 10px;
        font-size: 14px; }
        .jingxuan .remenbangdan .biaosheng .biaoshengzi dt {
          color: #333;
          font-weight: 700;
          line-height: 24px; }
        .jingxuan .remenbangdan .biaosheng .biaoshengzi dd {
          line-height: 24px;
          color: #555; }
      .jingxuan .remenbangdan .biaosheng i {
        position: absolute;
        right: 0;
        top: 40px; }

.guanggao {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  cursor: pointer; }

.xinge {
  width: 1000px;
  height: 375px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #ddd; }
