* {
  margin: 0;
  padding: 0;
  list-style: none; }

.header {
  width: 100%;
  height: 78px;
  background-color: white; }

.header-container {
  width: 1000px;
  height: 78px;
  margin: 0 auto; }

.logo {
  width: 153px;
  height: 37px;
  margin-top: 20px;
  float: left; }

.sousuo {
  width: 298px;
  height: 34px;
  border: 1px solid #ccc;
  margin-top: 22px;
  line-height: 34px;
  float: left;
  margin-left: 30px; }
  .sousuo input {
    margin-left: 20px;
    outline: medium;
    border: none; }

.sousuotu {
  width: 34px;
  height: 34px;
  float: right;
  text-align: center; }

.sousuotu:hover {
  color: #169af3;
  cursor: pointer; }

.kefu {
  width: 402px;
  height: 30px;
  line-height: 30px;
  float: right;
  margin-top: 24px; }
  .kefu ul {
    width: 260px;
    color: #777;
    float: left;
    border-right: 1px solid #e6e6e6; }
    .kefu ul li {
      float: left;
      padding: 0 15px;
      font-size: 13px; }
    .kefu ul li:hover {
      color: #169af3;
      cursor: pointer; }
  .kefu .denglu {
    width: 48px;
    height: 28px;
    border: 1px solid #169af3;
    float: left;
    border-radius: 2px;
    background-color: #169af3;
    text-align: center;
    margin-left: 27px;
    color: #fff;
    font-size: 14px; }
  .kefu .zhuce {
    width: 48px;
    height: 28px;
    border: #169af3;
    float: left;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    margin-left: 13px;
    font-size: 14px;
    color: #777; }
  .kefu .denglu:hover {
    background-color: #158FE1;
    cursor: pointer; }
  .kefu .zhuce:hover {
    color: #169af3;
    border: 1px solid #169af3;
    cursor: pointer; }

.nav {
  width: 100%;
  height: 55px;
  background-color: #2c323b; }
  .nav .nav-container {
    width: 1000px;
    height: 55px;
    margin: 0 auto; }
    .nav .nav-container .shouye {
      position: relative;
      height: 55px;
      line-height: 55px;
      float: left; }
      .nav .nav-container .shouye li {
        float: left;
        padding: 0 30px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        cursor: pointer; }
      .nav .nav-container .shouye .shouyeli {
        background-color: #169af3; }
      .nav .nav-container .shouye li:hover {
        background-color: #169af3; }
      .nav .nav-container .shouye .gengduoli:hover .gengduo {
        display: block; }
      .nav .nav-container .shouye .gengduo {
        position: absolute;
        left: 324px;
        top: 37px;
        display: none;
        z-index: 999; }
        .nav .nav-container .shouye .gengduo li {
          clear: both;
          width: 113px;
          height: 36px;
          text-align: center;
          line-height: 36px;
          font-size: 15px;
          background-color: #2c323b;
          color: #bbb;
          cursor: pointer;
          margin: 0;
          padding: 0; }
        .nav .nav-container .shouye .gengduo li:hover {
          background-color: #2d343d;
          color: #fff; }
    .nav .nav-container ul:last-child {
      float: right;
      margin-top: 18px; }
      .nav .nav-container ul:last-child li {
        float: left;
        font-size: 13px;
        color: #bbb;
        margin-left: 30px; }
      .nav .nav-container ul:last-child li:hover {
        color: #169af3;
        cursor: pointer; }

.container {
  width: 1000px;
  height: 1458px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #ddd; }
  .container .left {
    width: 218px;
    height: 1315px;
    border: 1px solid #eee;
    float: left; }
    .container .left .remen {
      width: 218px;
      height: 651px; }
      .container .left .remen .rementou {
        width: 218px;
        height: 45px;
        line-height: 45px; }
        .container .left .remen .rementou .remenzi {
          width: 213px;
          height: 45px;
          line-height: 45px;
          padding-left: 15px;
          font-size: 16px;
          color: #555; }
          .container .left .remen .rementou .remenzi i {
            font-size: 13px;
            margin-left: 100px; }
      .container .left .remen ul {
        width: 218px;
        height: 600px;
        margin-top: 6px;
        background-color: yellow; }
        .container .left .remen ul li {
          width: 218px;
          height: 36px;
          margin-bottom: 4px;
          background-color: red; }
          .container .left .remen ul li span {
            width: 203px;
            height: 36px;
            padding-left: 15px;
            color: #555;
            font-size: 14px; }
            .container .left .remen ul li span img {
              width: 16px;
              height: 16px;
              margin-top: 11px;
              margin-right: 5px; }
    .container .left .zuo2 {
      width: 218px;
      height: 411px;
      border-top: 1px solid #f2f2f2; }
      .container .left .zuo2 .rementou {
        width: 218px;
        height: 45px;
        line-height: 45px; }
        .container .left .zuo2 .rementou .remenzi {
          width: 213px;
          height: 45px;
          line-height: 45px;
          padding-left: 15px;
          font-size: 16px;
          color: #555; }
          .container .left .zuo2 .rementou .remenzi i {
            font-size: 13px;
            margin-left: 100px; }
      .container .left .zuo2 ul {
        width: 218px;
        height: 360px;
        margin-top: 6px;
        background-color: yellow; }
        .container .left .zuo2 ul li {
          width: 218px;
          height: 36px;
          margin-bottom: 4px;
          background-color: red; }
          .container .left .zuo2 ul li span {
            width: 203px;
            height: 36px;
            padding-left: 15px;
            color: #555;
            font-size: 14px; }
            .container .left .zuo2 ul li span img {
              width: 16px;
              height: 16px;
              margin-top: 11px;
              margin-right: 5px; }
    .container .left .zuo3 {
      width: 218px;
      height: 251px;
      border-top: 1px solid #f2f2f2; }
      .container .left .zuo3 .rementou {
        width: 218px;
        height: 45px;
        line-height: 45px; }
        .container .left .zuo3 .rementou .remenzi {
          width: 213px;
          height: 45px;
          line-height: 45px;
          padding-left: 15px;
          font-size: 16px;
          color: #555; }
          .container .left .zuo3 .rementou .remenzi i {
            font-size: 13px;
            margin-left: 100px; }
      .container .left .zuo3 ul {
        width: 218px;
        height: 200px;
        margin-top: 6px;
        background-color: yellow; }
        .container .left .zuo3 ul li {
          width: 218px;
          height: 36px;
          margin-bottom: 4px;
          background-color: red; }
          .container .left .zuo3 ul li span {
            width: 203px;
            height: 36px;
            padding-left: 15px;
            color: #555;
            font-size: 14px; }
            .container .left .zuo3 ul li span img {
              width: 16px;
              height: 16px;
              margin-top: 11px;
              margin-right: 5px; }
  .container .right {
    width: 750px;
    height: 1443px;
    background-color: pink;
    float: right;
    padding-left: 30px; }
    .container .right .youtou {
      width: 750px;
      height: 57px;
      line-height: 57px;
      border-bottom: 1px dotted #cacaca;
      padding-bottom: 24px;
      margin-bottom: 24px;
      background-color: red; }
      .container .right .youtou span:first-child {
        display: block;
        width: 120px;
        height: 24px;
        float: left;
        font-size: 24px;
        margin-right: 20px;
        margin-bottom: 33px;
        color: #333; }
      .container .right .youtou span:nth-child(2) {
        display: inline-block;
        font-size: 14px;
        color: #999; }
      .container .right .youtou .bofang {
        width: 112px;
        height: 34px;
        line-height: 34px;
        background-color: #169af3;
        float: right;
        margin-top: -6px;
        color: #fff;
        font-size: 14px;
        text-align: center; }
    .container .right .youneirong {
      width: 750px;
      height: 1241px; }
      .container .right .youneirong .quanxuan {
        width: 750px;
        height: 21px;
        color: #999;
        padding-bottom: 10px;
        font-size: 14px;
        background-color: green; }
        .container .right .youneirong .quanxuan span:first-child {
          display: inline-block;
          width: 14px;
          height: 14px;
          background-color: blue;
          margin: 0 10px;
          vertical-align: middle; }
        .container .right .youneirong .quanxuan span:last-child {
          display: inline-block;
          vertical-align: middle; }
      .container .right .youneirong .leibiao {
        width: 750px;
        height: 1210px;
        background-color: #eee; }
        .container .right .youneirong .leibiao li {
          width: 730px;
          height: 54px;
          line-height: 54px;
          padding: 0 10px;
          border-bottom: 1px solid #f2f2f2;
          background-color: cyan;
          color: #000;
          font-size: 14px; }
          .container .right .youneirong .leibiao li span:first-child {
            display: inline-block;
            width: 14px;
            height: 14px;
            margin-right: 10px;
            background-color: blue;
            vertical-align: middle; }
          .container .right .youneirong .leibiao li span:nth-child(2) {
            display: inline-block;
            width: 15px;
            height: 54px;
            margin-right: 10px;
            text-align: center;
            color: #fe2c62;
            font-size: 18px;
            vertical-align: middle; }
